In [3]:
import numpy as np
x = np.array(["A",67,57,9.8])
print(x)
print(type(x))
print(x.dtype)

['A' '67' '57' '9.8']
<class 'numpy.ndarray'>
<U32

In [7]:
#create a2 array
a2 = np.array([[20,40],[30,60]])
print(a2)
print(type(x))

[[20 40]
 [30 60]]
<class 'numpy.ndarray'>

In [9]:
#Reshaping an array
a = np.array([10,20,30,40])
b = a.reshape(2,2)
print(b)
print(b.shape)

[[10 20]
 [30 40]]
(2, 2)

In [11]:
#Create an array with arange() 
c = np.arange(3,20)
print(c)
type(c)

[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

numpy.ndarray

In [13]:
d = np.array([1.3467, 3.10987,4.91236])
np.around(d,2)

array([1.35, 3.11, 4.91])

In [15]:
d

array([1.3467 , 3.10987, 4.91236])

In [17]:
#Use of np.sqrt()
print(np.around(np.sqrt(d),2))

[1.16 1.76 2.22]

In [27]:
#Use astype() to convert the data type
a1 = np.array([[2,3,5,7,np.NAN]])
a1_copy1 = a1.astype(float)
print(a1)
print(type(a1))

[[ 2.  3.  5.  7. nan]]
<class 'numpy.ndarray'>

In [29]:
a1 = np.array([[3,4,5,8],[7,2,8,np.NAN]])
a1_copy1 = a1.astype(float)
print(a1)
print(type(a1))

[[ 3.  4.  5.  8.]
 [ 7.  2.  8. nan]]
<class 'numpy.ndarray'>

In [31]:
a1_copy1 = a1.astype(str)
print(a1_copy1)
a1_copy1.dtype

[['3.0' '4.0' '5.0' '8.0']
 ['7.0' '2.0' '8.0' 'nan']]

dtype('<U32')

In [35]:
#Mathematical operations on rows and columns
a2 =np.array([[3,4,6],[7,9,10],[4,6,12]])
a2

array([[ 3,  4,  6],
       [ 7,  9, 10],
       [ 4,  6, 12]])

In [37]:
print(a2.sum(axis=1))
print(a2.sum(axis=0))

[13 26 22]
[14 19 28]

In [43]:
#find the nean values along row and col
print(a2)
print(np.mean(a2, axis =1))
print(np.mean(a2, axis =0))

[[ 3  4  6]
 [ 7  9 10]
 [ 4  6 12]]
[4.33333333 8.66666667 7.33333333]
[4.66666667 6.33333333 9.33333333]

In [45]:
#Matrix operations
a3 = np.array([[3,4,5],[7,2,8],[9,1,6]])
print(a3)
np.fill_diagonal(a3,0)
print(a3)

[[3 4 5]
 [7 2 8]
 [9 1 6]]
[[0 4 5]
 [7 0 8]
 [9 1 0]]

In [49]:
#Define two matrices and multiply them
A = np.array([[1, 2], [3, 4]])
B = np.array([[5, 6], [7, 8]])

In [53]:
#Perform matrix multiplication
C = np.matmul(A, B)
print(C)

[[19 22]
 [43 50]]

In [55]:
#Print the Transpose of the matrices
print(A.T)
print(B.T)

[[1 3]
 [2 4]]
[[5 7]
 [6 8]]

In [59]:
#Accessing the array elements
a4 = np.array([[3,4,5],[7,2,8],[9,1,6],[10,9,18]])
a4

array([[ 3,  4,  5],
       [ 7,  2,  8],
       [ 9,  1,  6],
       [10,  9, 18]])

In [61]:
a4[0::3,0::2]

array([[ 3,  5],
       [10, 18]])

In [81]:
a4[1:3,0:2]

array([[7, 2],
       [9, 1]])