#### Constructor,Self and Comparing Objects

In [2]:
class Computer:
    pass
c1 = Computer()
print(id(c1))

2046059156576

In [3]:
class Computer:
    pass
c1 = Computer()
c2 = Computer()
print(id(c1))
print(id(c2))

2046048553056
2046059156576

In [4]:
class Computer:
    def __init__(self):
        self.name = 'Pallavi'
        self.age = 28

c1 = Computer()
c2 = Computer()

print(c1.name)
print(c2.name)

Pallavi
Pallavi

In [5]:
class Computer:
    def __init__(self):
        self.name = 'Pallavi'
        self.age = 28

c1 = Computer()
c2 = Computer()
c1.name = 'Pandu'

print(c1.name)
print(c2.name)

Pandu
Pallavi

In [21]:
class Computer:
    def __init__(self):
        self.name = 'Pallavi'
        self.age = 28
    def update(self):
        self.age = 30
    def compare(self,other):
        if self.age == other.age:
            return True
        else:
            return False
c1 = Computer()
c2 = Computer()
if c1.compare(c2):
    print("They are same")
 
print(c1.name)
print(c2.name)

They are same
Pallavi
Pallavi

In [31]:
class Computer:
    def __init__(self):
        self.name = 'Pallavi'
        self.age = 28
     
    def compare(self,other):
        if self.age == other.age:
            return True
        else:
            return False

c1 = Computer()
c1.age = 30 
c2 = Computer()
if c1.compare(c2):
    print("They are same")
else:
    print("They are different")
 
print(c1.name)
print(c2.name)

They are different
Pallavi
Pallavi

#### Types of Variables

In [34]:
class Car:
    def __init__(self):
        self.mil = 10
        self.com = "BMW"
c1 = Car()
c2 = Car()
print(c1.com , c1.mil)
print(c2.com , c2.mil)

BMW 10
BMW 10

In [36]:
class Car:
    def __init__(self):
        self.mil = 10
        self.com = "BMW"
c1 = Car()
c2 = Car()
c1.mil = 8
print(c1.com , c1.mil)
print(c2.com , c2.mil)

BMW 8
BMW 10

In [38]:
class Car:
    wheels = 4
    def __init__(self):
        self.mil = 10
        self.com = "BMW"
c1 = Car()
c2 = Car()
c1.mil = 8
print(c1.com , c1.mil, c1.wheels)
print(c2.com , c2.mil, c2.wheels)

BMW 8 4
BMW 10 4

In [40]:
class Car:
    wheels = 4
    def __init__(self):
        self.mil = 10
        self.com = "BMW"
c1 = Car()
c2 = Car()
c1.mil = 8
Car.wheels = 5
print(c1.com , c1.mil, c1.wheels)
print(c2.com , c2.mil, c2.wheels)

BMW 8 5
BMW 10 5

#### Types of Methods

In [43]:
class Student:
    school = 'Telusko'
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3
    def avg(self):
        return (self.m1 + self.m2 + self.m3)/3
s1 = Student(34,67,32)
s2 = Student(89,32,12)
print(s1.avg())

44.333333333333336

In [54]:
class Student:
    school = 'Telusko'
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3
    def avg(self):
        return (self.m1 + self.m2 + self.m3)/3
    def get_m1(self):
        return self.m1
    def set_m1(self,value):
        self.m1 = value
s1 = Student(34,67,32)
s2 = Student(89,32,12)
print(s1.avg())

44.333333333333336

In [58]:
class Student:
    school = 'Telusko'
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3
    def avg(self):
        return (self.m1 + self.m2 + self.m3)/3

    @classmethod
    def info(cls):
        return cls.school
     
s1 = Student(34,67,32)
s2 = Student(89,32,12)
print(s1.avg())
print(Student.info())

44.333333333333336
Telusko

In [66]:
 class Student:
    school = 'Telusko'
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3
    def avg(self):
        return (self.m1 + self.m2 + self.m3)/3

    @classmethod
    def getSchool(cls):
        return cls.school

     
    @staticmethod
     def info():
         print("This is Student class.. in abc molude")
     
s1 = Student(34,67,32)
s2 = Student(89,32,12)


print(s1.avg())
print(Student.getSchool())
Student.info()

IndentationError: unexpected indent (1053810853.py, line 16)