##### Factorial Using Recursion

In [3]:
def fact(n):
    if n==0:
        return 1
    return n * fact(n-1)
result = fact(5)
print(result)

120

In [5]:
def fact(n):
    if n==0:
        return 1
    return n * fact(n-1)
result = fact(4)
print(result)

24

In [15]:
def fact(n):
    if n==1:
        return 1
    return n * fact(n-1)
result = fact(4)
print(result)

24

In [17]:
def fact(n):
    if n==0:
        return 1
    return n * fact(n-1)
result = fact(3)
print(result)

6

#### Anonymous Function|Lambda

In [20]:
def square(a):
    return a*a
result = square(5)
print(result)

25

In [26]:
def square(a):
    return a+a
result = square(5)
print(result)

10

In [22]:
f = lambda a,b : a+b
result = f(5,6)
print(result)

11

In [24]:
f = lambda a,b : a*b
result = f(5,6)
print(result)

30

#### Filter Map Reduce

In [29]:
def is_even(n):
    return n%2==0
nums = [3,2,6,8,4,6,2,9]
evens = list(filter(is_even,nums))
print(evens)

[2, 6, 8, 4, 6, 2]

In [47]:
def is_odd(n):
    return n%1==0
nums = [3,2,6,8,4,6,2,9]
odds = list(filter(is_odd,nums))
print(odds)

NameError: name 'odd' is not defined

In [31]:
nums = [3,2,6,8,4,6,2,9]
evens = list(filter(lambda n : n%2==0,nums))
doubles = list(map(lambda n : n+2,evens))
print(doubles)

[4, 8, 10, 6, 8, 4]

In [33]:
nums = [3,2,6,8,4,6,2,9]
evens = list(filter(lambda n : n%2==0,nums))
doubles = list(map(lambda n : n*2,evens))
print(doubles)

[4, 12, 16, 8, 12, 4]

In [35]:
from functools import reduce
def add_all(a,b):
    return a+b
nums = [3,2,6,8,4,6,2,9]
evens = list(filter(lambda n : n%2==0,nums))
doubles = list(map(lambda n : n*2,evens))
sum = reduce(add_all,doubles)
print(sum)

56

In [39]:
from functools import reduce

nums = [3,2,6,8,4,6,2,9]
evens = list(filter(lambda n : n%2==0,nums))
doubles = list(map(lambda n : n*2,evens))
print(doubles)
sum = reduce(add_all,doubles)
print(sum)

[4, 12, 16, 8, 12, 4]
56